header{
    color: red;
    text-align: center;
}

.btn-primary{
    display: flex;
justify-content: flex;
}

.v-success{
    border-color: green;
}

.v-error{
    border-color: red;
}
.verror:focus{
    outline: color;
}